@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Tulpen+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1faee;
}

.App {
  padding: 3em;
  background-color: #a8dadc;
  margin: 2em auto;
  width: 36em;
  border-radius: 5px;

}


